DB_HOST="127.0.0.1"
DB_USUARIO="SYSDBA"
DB_SENHA="masterkey"
DB_BASE="C:/TSD/Host/HOST.FDB"
DB_BASE_INTEGRACAO="C:/TSD/Host/INTEGRACAO-WP.FDB"

ENDERECO_WORDPRESS="https://c8grafica.com.br/integracao/webservice/rest.php"
ID_USUARIO_ORCAMENTO="1"
PROXY=""
CHAVE_API_WORDPRESS="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxNjIwODM0MjM0IiwibmFtZSI6IkludGVncmHDp8OjbyBUU0QifQ.zVA8pEqyW6wN26ynFdrwhGuvW3r4FCT7N5LEgnQsqMM"

EMAIL_HOST=""
EMAIL_USUARIO=""
EMAIL_SENHA=""
EMAIL_PROTOCOLO_SEGURANCA="ENCRYPTION_STARTTLS"
# EMAIL_PROTOCOLO_SEGURANCA="ENCRYPTION_SMTPS"
EMAIL_PORTA=""